*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;

}


body{
    
    font size: 40px;
    min-height: 100vh;
    align-items: center;
    justify-content:center; 
    background-color: #f1f1f1;
    line-height: 30px;
     background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../images/pic1.jpg');
    background-size: cover;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;

}
.CONTACT{
    font-size: 35px;
    margin-left: 15px;
}





 
